body {
    background-color: #e0dcdc;
}

.photo {
    border: 3px solid #505050;
    border-radius: 50%;
}

#title, .sub-title, .post-title {
    color: #505050;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px ;
}

#my_photo {
    width: 8rem;
}

#main_photo {
    width: 40rem;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
}

.post-image {
    margin-bottom: 15px;
}
